<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina home</title>
    <meta name="description" content="Pagina di visualizzazione utenti">
    <meta name="keywords" content="List">
    <meta name="author" content="Denis Fabris">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.min.css'>
</head>

<body>
    <div class="row p-2 mb-3 bg-dark shadow">
        <h1 class="text-center text-light col">Home</h1>
    </div>
    <div class="row justify-content-center p-4 m-2 bg-secondary rounded shadow">
        <div class="col-2 m-0 p-1">
            <a class="btn btn-info col text-light font-weight-bol" href="/api/Users/">LISTA</a>
        </div>
        <div class="col-2 m-0 p-1">
            <a id="dettaglio" class="btn btn-info col mb-2 text-light font-weight-bol" href="/api/Users/">DETTAGLIO</a>
            <input id="dettaglioI" class="col rounded border-0 text-secondary front-weight-normal" placeholder= "id . .">
        </div>
        <div class="col-2 m-0 p-1">
            <a class="btn btn-info col text-light font-weight-bol" href="/api/InsertUser/">INSERIMENTO</a>
        </div>
        <div class="col-2 m-0 p-1">
            <a id="modifica" class="btn btn-info col mb-2 text-light font-weight-bol" href="/api/ModifyUser/">MODIFICA</a>
            <input id="modificaI" class="col rounded border-0 text-secondary front-weight-normal" placeholder= "id . .">
        </div>
        <div class="col-2 m-0 p-1">
            <a id="cancellazione" class="btn btn-info col mb-2 text-light font-weight-bol" href="/api/DeleteUser/">CANCELLAZIONE</a>
            <input id="cancellazioneI" class="col rounded border-0 text-secondary front-weight-normal" placeholder= "id . .">
        </div>
    </div>
    <div class="container bg-secondary p-4 mt-3 rounded shadow">
        <h1 class="col text-center text-danger font-weight-bold">ID</h1>
        <% users.forEach(element => { %>
            <h2 class="col text-center text-light font-weight-normal"><%= element._id %></h2>
        <% }) %> 
    </div>

    <script>
        document.getElementById("dettaglio").onclick= function() {
            var url = document.getElementById("dettaglioI").value;
            document.getElementById("dettaglio").href= "/api/Users/"+url;
        }

        document.getElementById("modifica").onclick= function() {
            var url = document.getElementById("modificaI").value;
            document.getElementById("modifica").href= "/api/ModifyUser/"+url;
        }

        document.getElementById("cancellazione").onclick= function() {
            var url = document.getElementById("cancellazioneI").value;
            document.getElementById("cancellazione").href= "/api/DeleteUser/"+url;
        }
    </script>
    <script src="/script/bootstrap.min.js"></script>
</body>

</html>