<div class="fixed mb-8 w-screen grid grid-cols-9 p-3 bg-blue-300">
    <div class="col-start-1 col-span-2 rounded-lg">
        <button [routerLink]="['']" class="p-4 rounded-lg bg-red-200 text-center text-xl font-sans tracking-wide text-red-500 transition hover:bg-red-400 hover:text-red-700 hover:shadow-xl">BACK</button>
    </div>
    <div class="col-start-3 col-end-8 p-4 rounded-lg bg-blue-700">
        <h1 class="text-center text-xl font-sans tracking-wide text-white">ToDo-List</h1>
    </div>
</div>