<div class="card m-4 shadow rouned" style="width: 18rem;">
    <img src="{{ book.imageUrl }}" class="card-img-top shadow" alt="{{ book.author }}">
    <div class="card-body">
        <h5 class="card-title text-center text">{{ book.name }}</h5>
        <p class="card-text">Autore: {{ book.author }}</p>
        <p class="card-text font-weight-bold">Prezzo: {{ book.price }}</p>
        <a href="{{ book.url }}" class="card-text font-text-bold">Sito</a>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success col-6 p-3 rounded-start" (click)="modifyBook()">MODIFICA</button>
            <button class="btn btn-danger col-6 p-3 rounded-end" (click)="deleteBook()">CANCELLA</button>
        </div>
    </div>
</div>
